/* ID Selectors - user defined */
#header {
	background-color:white;
	height: 150px; /* 240-90=150 */
	font-size: 48px;
	padding-top: 80px;
	padding-left: 50px;
}
#page-content{
	padding: 10px; 
	text-align: justify;
	background-color:white;
	padding-left: 50px;


}
